<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div class="wrapper">
  
      <div class="footer-col-wrapper">
        <div class="footer-col">
          <p class="feed-subscribe">
            <a href="{{ 'feed.xml' | relative_url }}">
              <svg class="svg-icon orange">
                <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
              </svg><span>Subscribe</span>
            </a>
          </p>
        {%- if site.author %}
          <ul class="contact-list">
            {% if site.author.name -%}
              <li class="p-name">{{ site.author.name | escape }}</li>
            {% endif -%}
            {% if site.author.email -%}
              <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
            {%- endif %}
          </ul>
        {%- endif %}
        </div>
        <div class="footer-col">
          <p>{{ site.description | escape }}</p>
        </div>
      </div>
  
      <div class="social-links">
        {%- include social.html -%}
        Copyright &copy; 2020 By Jialin. All rights reserved. | List of <a href="{{ '/topic' | relative_url }}">Topics</a>
    </div>
  
    </div>
  
</footer>

<!-- For Latex -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>